.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.memo-board{
  width: 760px;
}

.memo-tile{
  width: 90px;
  height: 90px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.memo-tile.front{
  background-color: #4438b4;
}

.memo-tile.back{
  background-color: #665ad1;
}

.memo-tile.completed.back{
  background-color: #2ba343;
}


.memo-tile.back.bomb{
  background-color: #ec0b3f;
}

.memo-tile.back img{
  width: 100%;
  height: 100%;
}

.memo-tile:hover{
  cursor: pointer;
}

.tile-list{
  list-style: none;
}

.tile-list li{
  float: left;
}

.user-controls{
  width: 300px;
}

.tiles-input input{
  display: inline-block !important;
  color: white;
  margin-right: 10px !important;
  width: 150px !important;
}
.MuiFormLabel-root {
  color: white !important;
}

.MuiFormControl-root{
  display: flex !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #b53453 !important;
}

.MuiInput-underline:hover{
  border-bottom: none !important;
}

input{
  color: white !important;
}


#new-btn{
  color: white;
  background-color: #17191b;
  width: 200px;
  float: right;
}

#new-btn:hover{
  background-color: #0e0e0f;
}
